.layout {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-end {
    justify-content: end;
  }

  &.align-center {
    align-items: center;
  }
}
